.button{
    color: white;
    background-color: red;
    border-radius: 7px;
    padding:10px 36px;
    border: none;
    width: 80%;

}

.card{
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
}

.course{
    width: 100%;
    border: 1px solid #c4c4c4;
    padding: 20px;
    margin-bottom: 20px;
    display: flex; 
    border-radius: 10px;
    justify-content: space-between; 
}