{% extends "layout.html" %}

{% block body %}

<div style="display:block" class="container" onload="myFunction()">
  <div class="row"> 
<div>
  {% if ineligible %}
  <small>You are ineligble for this year</small>
  <h4>Sorry</h4>
  {% else %}
  <small>You are eligble for the following courses</small>
  <h4>Congratulations</h4>
  {% endif %} 
</div>
    {% for course in eligibleCourses %}
    <div class="card">
      <small>{{course.department}}</small>
      <h4>{{course.tempField}}</h4>
    </div>
    {% endfor %}
  </div>
</div>



<!-- <div style="display: flex; justify-content: center; align-items: center; height: 100vh; width: 100vw;">
  <div style="text-align: center;">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
    <h6>Checking your courses</h6>
  </div>
</div> -->


<script>
  function myFunction() {
    setTimeout(function(){ alert("Hello"); }, 1000);
  }
  </script>
{% endblock %}