{% extends "layout.html" %}

{% block body %}


<div id="spinner" style="display: flex; justify-content: center; align-items: center; height: 100vh; width: 100vw; display: none;">
  <div style="text-align: center;">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
    <h6>Checking your courses</h6>
  </div>
</div>

<div id="body" class="container">
<br/>
<small class="text-muted">Please fill the form with the details from your slip</small>
<h4>Core Subjects</h4>

<!-- Item Body -->
    <!-- Maths -->
<form action="{{url_for('home')}}" method="POST">

    <div class="row">
        <div class="col">
            <div class="form-group">
              <label for=""></label>
                  <label for=""></label>
                  <input type="text" class="form-control" value="Mathematics" disabled aria-describedby="helpId" placeholder="">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
              <label for=""></label>
              <select class="form-control" name="maths" required id="maths">
                <option  selected hidden class="text-muted" value="">- -</option>
                {% for subject in grades %}
                <option>{{subject}}</option>
                {% endfor %}
              </select>
            </div>
        </div>
    </div>
   
    <!-- Maths -->
    <div class="row">
        <div class="col">
            <div class="form-group">
              <label for=""></label>
                  <label for=""></label>
                  <input type="text" class="form-control" value="English" disabled name="" id="" aria-describedby="helpId" placeholder="">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
              <label for=""></label>
              <select  class="form-control" name="english" required id="">
                <option selected hidden class="text-muted" value="">- -</option>
                {% for subject in grades %}
                <option  >{{subject}}</option>
                {% endfor %}
              </select>
            </div>
        </div>
    </div>
   
    <!-- Maths -->
    <div class="row">
        <div class="col">
            <div class="form-group">
              <label for=""></label>
                  <label for=""></label>
                  <input type="text" class="form-control" value="Integrated Science" disabled name="" id="" aria-describedby="helpId" placeholder="">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
              <label for=""></label>
              <select required class="form-control" name="science" id="">
                 <option selected hidden class="text-muted" value="">- -</option>
                {% for subject in grades %}
                <option  >{{subject}}</option>
                {% endfor %}
              </select>
            </div>
        </div>
    </div>
   
    <!-- Maths -->
    <div class="row">
        <div class="col">
            <div class="form-group">
              <label for=""></label>
                  <label for=""></label>
                  <input type="text" class="form-control" value="Social Studies" disabled name="" id="" aria-describedby="helpId" placeholder="">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
              <label for=""></label>
              <select required class="form-control" name="social" id="">
                 <option selected hidden class="text-muted" value="" >- -</option>
                {% for subject in grades %}
                <option  >{{subject}}</option>
                {% endfor %}
              </select>
            </div>
        </div>
    </div>

   <br/>
   <small class="text-muted">Please fill the form with the details from your slip</small>
    <h4>Electives</h4>
    <!-- Maths -->
    
   
    <!-- Elective -->
    <div class="row">
        <div class="col">
            <div class="form-group">
              <label for=""></label>
              <input class="form-control" type="text" name="el1" id="">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
              <label for=""></label>
              <select class="form-control" name="el1grade" id="" required>
                 <option selected hidden class="text-muted" value="">- -</option>
                {% for subject in grades %}
                <option  >{{subject}}</option>
                {% endfor %}
              </select>
            </div>
        </div>
    </div>
   
    <!-- Elective -->
    <div class="row">
        <div class="col">
            <div class="form-group">
              <label for=""></label>
              <input type="text" name="el2" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
              <label for=""></label>
              <select class="form-control" name="el2grade" id="" required>
                 <option selected hidden class="text-muted" value="">- -</option>
                {% for subject in grades %}
                <option  >{{subject}}</option>
                {% endfor %}
              </select>
            </div>
        </div>
    </div>
   
    <!-- Elective -->
    <div class="row">
        <div class="col">
            <div class="form-group">
              <label for=""></label>
              <input class="form-control" type="text" name="el3">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
              <label for=""></label>
              <select class="form-control" name="el3grade" id="" required>
                 <option selected hidden class="text-muted" value="">- -</option>
                {% for subject in grades %}
                <option  >{{subject}}</option>
                {% endfor %}
              </select>
            </div>
        </div>
    </div>
   
    <!-- Elective -->
    <div class="row">
        <div class="col">
            <div class="form-group">
              <label for=""></label>
              <input class="form-control" type="text" name="el4" id="">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
              <label for=""></label>
              <select class="form-control" name="el4grade" id="" required>
                 <option selected hidden class="text-muted" value="">- -</option>
                {% for subject in grades %}
                <option  >{{subject}}</option>
                {% endfor %}
              </select>
            </div>
        </div>
    </div>
   


    <!--  -->

    <div style="text-align: center;">
        <button type="submit" class="button btn-danger" onclick="spin()">Next</button>
    </div>
    <br/>
<!-- Item End -->
</form>
</div>

<script>
  function spin() {
    console.log("asdf")
    console.log(document.getElementById("spinner").style.display)
    document.getElementById("spinner").style.display = "flex";
    document.getElementById("body").style.display = "none"
    // console.log(document.getElementById("spinner").style.display)
  }
</script>

{% endblock %}