{% extends "layout.html" %}

{% block body %}
<div class="container">
    <br/>
<h4>Add a new Course</h4>

<form action="{{url_for('courses')}}" method="post">
    <div class="form-group">
    <label for=""></label>
    <input type="text" class="form-control" name="courseName" id="courseName" aria-describedby="helpId" placeholder="Programme Name">
    </div>
    
    <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
    <!-- <input type="text" class="form-control" name="department" id="department" aria-describedby="helpId" placeholder="description"> -->
    <div class="form-group">
      <label for="">Departments</label>
      <select class="form-control" name="department" id="department">
        <option>Faculty Of Arts and Social Sciences</option>
        <option>School of Pharmacy</option>
        <option>Faculty Of Law</option>
        <option>Central Business School</option>
        <option>School of Architecture and Design</option>
        <option>School of Engeneering and Technology</option>
        <option>School of Medicine and Health Sciences</option>
      </select>
    </div>

    <input style="width: auto;" class="button btn-danger" type="submit">
</form>
<br/>
<h4> All courses</h4>

{% for course in courses %}
<div  style="display: flex; justify-content: space-between;" class="course">
    <div>
        <small><span>{{course.id}}. </span>{{course.department}}</small>
        <h4 style="margin: 0; width: fit-content;">{{course.tempField}}</h4>
    </div>
    <div>

        <!-- <a href='{{url_for("delete", id=course.id)}}'>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a> -->
    </div>
    
</div>
{% endfor %}

</div>

{% endblock %}