{% extends "layout.html" %}

{% block body %}

<div class="header">
  {% if ineligible %}
  <small>You are eligble for the following Diploma Programs</small>
  <h4>Sorry</h4>
  {% else %}
  <h4>Congratulations</h4>
  <small>You are eligble for the following courses</small>
  <!-- <form class="form-inline my-2 my-lg-0"> -->
    <!-- <input id="elig-search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
  <!-- </form> -->
  {% endif %} 
</div>
<div class="container">
  <div class="row"> 
    <!--  Arts and Social Social Sciences -->
    <!-- <small style="margin: auto;" ><b>Faculty Of Arts And Social Sciences</b></small>
    <br/> -->
    <!-- {% for course in eligibleCourses %}
      {% if course.department == 'Faculty Of Arts and Social Sciences' %}
      <a style="color: black;" href="www.central.edu">
        <div class="card">
          <div>
            <small>{{course.department}}</small>
            <h4>{{course.tempField}}</h4>
          </div>
        </div>
      </a>
      {% endif %}
    {% endfor %} -->

    <!-- <small style="margin: auto;" ><b>Faculty Of Arts And Social Sciences</b></small>
    
    {% for course in eligibleCourses %}
      {% if course.department == 'School of Medicine and Health Sciences' %}
      <div class="card">
        <div>
          <small>{{course.department}}</small>
          <h4>{{course.tempField}}</h4>
        </div>
      </div>
      {% endif %}
    {% endfor %} -->

    {% if ineligible %}
    
    <div class="card">
      <a href="https://www.central.edu.gh/bdc/">
      <div>
        <small>8 months course</small>
        <h4>ATHE</h4>
      </div>
    </a>
    </div>

    <div class="card">
      <a href="https://www.central.edu.gh/bdc/">
      <div>
        <small>8 months course</small>
        <h4>CPPI</h4>
      </div>
      </a>
    </div>
    {% endif %}

    <!-- https://www.central.edu.gh/96 -->
    <!--  Arts and Social Social Sciences -->
    {% for course in eligibleCourses %}
      {% if course != None %}

      <!-- Pharmacy -->
        {% if course.department == "School of Pharmacy" %}
        <div class="card" style="background-color: rgba(0, 0, 0, 0.3); color: rgb(255, 255, 255);">
        <a style="color: inherit;" href="https://www.central.edu.gh/96" + course.id>
          <div>
            <small>{{course.department}}</small>
            <h4>{{course.tempField}}</h4>
          </div>
          </a>
        </div>
        {% endif %}

        <!-- Law -->
        {% if course.department == "Faculty Of Law" %}
        <div class="card" style="background-color: rgba(0, 0, 0, 0.3); color: black;">
        <a style="color: inherit;" href="https://www.central.edu.gh/96" + {{course.id}}>
          <div>
            <small>{{course.department}}</small>
            <h4>{{course.tempField}}</h4>
          </div>
          </a>
        </div>
        {% endif %}

      <!-- Business -->
        {% if course.department == "Central Business School" %}
        <div class="card" style="background-color: rgba(47, 0, 255, 0.3); color:blue">
        <a style="color: inherit;" href="https://www.central.edu.gh/96">
          <div>

            <small>{{course.department}}</small>
            <h4>{{course.tempField}}</h4>
          </div>
          </a>
        </div>
        {% endif %}

      <!-- Arts and Social Science -->
        {% if course.department == "Faculty Of Arts and Social Sciences" %}
        <div class="card" style="background-color: rgba(255, 119, 0, 0.3); color: orange">
        <a style="color: inherit;" href="https://www.central.edu.gh/96">
          <div>
            <small>{{course.department}}</small>
            <h4>{{course.tempField}}</h4>
          </div>
          </a>
        </div>
        {% endif %}


      <!-- School of Architecture and Design -->
        {% if course.department == "School of Architecture and Design" %}
        <div class="card" style="background-color: rgba(26, 255, 0, 0.3); color: green">
        <a style="color: inherit;" href="https://www.central.edu.gh/96">
          <div>
            <small>{{course.department}}</small>
            <h4>{{course.tempField}}</h4>
          </div>
          </a>
        </div>
        {% endif %}


      <!-- School of Engeneering and Technology -->
        {% if course.department == "School of Engeneering and Technology" %}
        <div class="card" style="background-color: rgba(246, 255, 0, 0.828); color:rgb(0, 0, 0)">
        <a style="color: inherit;" href="https://www.central.edu.gh/96">
          <div>
            <small>{{course.department}}</small>
            <h4>{{course.tempField}}</h4>
          </div>
          </a>
        </div>
        {% endif %}

      <!-- School of Medicine and Health Sciences -->
        {% if course.department == "School of Medicine and Health Sciences" %}
        <div class="card" style="background-color: rgb(0, 255, 238); color:teal">
        <a style="color: inherit;" href="https://www.central.edu.gh/96">
          <div>
            <small>{{course.department}}</small>
            <h4>{{course.tempField}}</h4>
          </div>
          </a>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>



<!-- <div style="display: flex; justify-content: center; align-items: center; height: 100vh; width: 100vw;">
  <div style="text-align: center;">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
    <h6>Checking your courses</h6>
  </div>
</div> -->


<!-- <script>
  function myFunction() {
    setTimeout(function(){ alert("Hello"); }, 1000);
  }
  </script> -->
{% endblock %}