<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action=""></form>
    <h4>LOL</h4>

    {{form.hidden_tag()}}

    <form action="">

        <div class="all">
            <div class="form-group">
              {{ form.course.label(id="label1") }}
              {{ form.course(class="form-control", placeholder="Enter Your Phone Number", id="exampleInputEmail1")}}
            </div>
          </div>
    </form>
</body>
</html>